@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@300&display=swap");
nav {
  background-image: url(../img/cielo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  width: auto;
  grid-area: nav;
}
nav #indice__logo {
  width: 5rem;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
nav ul li {
  list-style: none;
  text-decoration: none;
  padding: 0.2rem;
  margin-right: 0.6rem;
}
nav ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: white;
}

h1 {
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
}

h2 {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

p {
  color: black;
  line-height: 2em;
  font-size: 2rem;
  color: white;
}

aside {
  grid-area: aside;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  border: dimgrey solid 1rem;
  background-color: grey;
}
aside div ul li {
  margin: 2rem;
  list-style: none;
}

header {
  grid-area: header;
}
header img {
  width: 100%;
}

main {
  background-image: url(../img/carretera.jpg);
  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-area: main;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

label {
  text-align: center;
  font-size: 3rem;
  color: white;
}

option {
  font-size: 2rem;
}

textarea {
  display: flex;
  justify-content: center;
}

figcaption {
  background-color: yellow;
  height: auto;
  width: auto;
  font-size: 2rem;
  text-align: center;
}

.mapa__ubicacion {
  display: flex;
  justify-content: center;
  width: auto;
  padding: 1rem;
}

.formulario {
  display: flex;
  justify-content: space-evenly;
  margin-left: 1rem;
  font-size: 3rem;
  color: white;
  padding: 1rem;
}
.formulario .email {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.formulario .formulario__pedido {
  font-size: 3rem;
  padding: 1rem;
}
.formulario .formulario__retiro {
  font-size: 3rem;
  padding: 1rem;
}
.formulario .formulario__dos {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.formulario .formulario__dos .formulario__consulta {
  border: dimgrey outset 0.5rem;
  background-color: dimgrey;
  font-size: 2rem;
}
.formulario .formulario__dos .botones {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.formulario .formulario__dos .botones .formulario__cancelar {
  font-size: 2rem;
  width: 45%;
  height: auto;
  background: linear-gradient(to top, red, orange);
}
.formulario .formulario__dos .botones .formulario__cancelar:hover {
  border: outset 1px black;
}
.formulario .formulario__dos .botones .formulario__enviar {
  font-size: 2rem;
  width: 45%;
  height: auto;
  background: linear-gradient(to top, green, lightgreen);
}
.formulario .formulario__dos .botones .formulario__enviar:hover {
  border: outset 1px black;
}
.formulario select {
  font-size: 2rem;
}

.logos__pagos {
  display: flex;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
}

.navegacion__seleccion--encendido {
  color: yellow;
}

.navegacion__seleccion:hover {
  color: yellow;
}

.coberturas__iconos {
  border: dashed black 3px;
  margin-left: 1rem;
  text-align: center;
}

.fondo__cobertura {
  display: flex;
  border-radius: 5rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2rem;
}

.coberturas {
  padding: 2rem;
}

.borde {
  border: black solid 1rem;
  margin: 1rem;
}

.tabla__ubicacion {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2rem;
}
.tabla__ubicacion .tabla__precios {
  font-size: 15rem;
  color: white;
  border: 1rem double ghostwhite;
  padding: 1rem;
  width: 45%;
}

.grid__flota {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  grid-template-areas: "nav nav" "header header" "aside main" "footer footer";
  align-content: center;
  overflow: hidden;
  width: auto;
  height: auto;
}
.grid__flota .flota {
  padding: 2rem;
}

.auto1 {
  display: grid;
  grid-area: auto1;
}

.auto2 {
  display: grid;
  grid-area: auto2;
}

.auto3 {
  display: grid;
  grid-area: auto3;
}

.cam1 {
  display: grid;
  grid-area: cam1;
}

.cam2 {
  display: grid;
  grid-area: cam2;
}

.cam3 {
  display: grid;
  grid-area: cam3;
}

.moto1 {
  display: grid;
  grid-area: moto1;
}

.moto2 {
  display: grid;
  grid-area: moto2;
}

.grid__autos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 10rem;
  grid-template-areas: "auto1 auto2 auto3" "cam1 cam2 cam3" "moto1 moto2";
  /*border-radius: 5rem;*/
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
}

footer {
  grid-area: footer;
}
footer .pie__footer {
  font-size: 0.5rem;
  background-color: dimgrey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}
footer .pie__footer div a img {
  padding: 0.2rem;
  width: 25%;
}
footer .pie__footer p {
  font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */
