//nesting - anidacion

nav{
        background-image: url(../img/cielo.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		justify-content: space-between;
		width: auto;
        grid-area: nav;
    #indice__logo{
        width: 5rem;
    }
    ul{
        display: flex;
		justify-content: space-around;
        align-items: center;
		width: 100%;
            li{
                list-style: none;
                text-decoration: none;
                padding: 0.2rem;
                margin-right: 0.6rem;
                a{
                    font-size: 2rem;
                    text-decoration: none;
                    color: $black;
                    font-family: $fontMain;
                }
            }
    }
}





