//variables

//colors
$mainColor:lightblue;
$secondaryColor:blue;
$thirdColor:yellow;
$keyColor:red;
$white:white;
$black:black;
$grey:dimgrey;
$softGrey:grey;
$softColor: rgb(50, 50, 50);
$backColor:rgba(255, 255, 255, 0.2);
$submit:linear-gradient(to top, green, lightgreen);
$cancel:linear-gradient(to top, red, orange);

//sizing
$w-100:100%;
$w-50:50%;
$w-45:45%;
$w-25:25%;


